<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujixing.dao.TimeStatisticsMapper">
    <!--添加方法-->
    <insert id="add">
        INSERT INTO
        time_statistics(word_book_code,time_statistics_bars,time_statistics_time)
        VALUES
        (#{word_book_code},#{time_statistics_bars},#{time_statistics_time})
    </insert>
    <!--根据id查询一条信息-->
    <select id="getById" resultType="com.zhoujixing.entity.TimeStatisticsModel">
		SELECT * FROM time_statistics WHERE time_statistics_id = #{0}
	</select>
    <!--查询所有信息-->
    <select id="selA" parameterType="map" resultType="com.zhoujixing.entity.TimeStatisticsModel">
        SELECT time_statistics_id,word_book_code,time_statistics_bars,time_statistics_time FROM time_statistics
        <where>
            <if test="time_statistics_id != null">
                AND time_statistics_id=#{time_statistics_id}
            </if>
            <if test="word_book_code != null">
                AND word_book_code=#{word_book_code}
            </if>
            <if test="time_statistics_bars != null">
                AND time_statistics_bars=#{time_statistics_bars}
            </if>
            <if test="time_statistics_time != null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H') = DATE_FORMAT( #{time_statistics_time}, '%Y-%m-%d %H')
            </if>
            <if test="startTime != null and endTime!=null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H')  BETWEEN DATE_FORMAT( #{startTime}, '%Y-%m-%d %H') AND DATE_FORMAT(#{endTime}, '%Y-%m-%d %H')
            </if>

        </where>
        <if test="order != null">
            ORDER BY  date_statistics_time ASC, word_book_code  DESC
        </if>
    </select>


    <!--查询某个code数量-->
    <select id="getCodeTotal" parameterType="map" resultType="java.lang.Integer">
        SELECT time_statistics_bars FROM time_statistics
        <where>
            <if test="time_statistics_id != null">
                AND time_statistics_id=#{time_statistics_id}
            </if>
            <if test="word_book_code != null">
                AND word_book_code=#{word_book_code}
            </if>
            <if test="time_statistics_bars != null">
                AND time_statistics_bars=#{time_statistics_bars}
            </if>
            <if test="time_statistics_time != null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H') = DATE_FORMAT( #{time_statistics_time}, '%Y-%m-%d %H')
            </if>
            <if test="startTime != null and endTime!=null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H')  BETWEEN DATE_FORMAT( #{startTime}, '%Y-%m-%d %H') AND DATE_FORMAT(#{endTime}, '%Y-%m-%d %H')
            </if>

        </where>

    </select>
    <!--查询总数量-->
    <select id="getTotal" parameterType="map" resultType="java.lang.Integer">
        SELECT SUM(time_statistics_bars) FROM time_statistics
        <where>
            <if test="time_statistics_id != null">
                AND time_statistics_id=#{time_statistics_id}
            </if>
            <if test="word_book_code != null">
                AND word_book_code=#{word_book_code}
            </if>
            <if test="time_statistics_bars != null">
                AND time_statistics_bars=#{time_statistics_bars}
            </if>
            <if test="time_statistics_time != null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H') = DATE_FORMAT( #{time_statistics_time}, '%Y-%m-%d %H')
            </if>
            <if test="startTime != null and endTime!=null">
                AND DATE_FORMAT( time_statistics_time, '%Y-%m-%d %H')  BETWEEN DATE_FORMAT( #{startTime}, '%Y-%m-%d %H') AND DATE_FORMAT(#{endTime}, '%Y-%m-%d %H')
            </if>

        </where>

    </select>
    <!--根据id修改某条信息-->
    <update id="update">
        UPDATE time_statistics
        <set>
            <if test="word_book_code != null">
                word_book_code = #{word_book_code},
            </if>
            <if test="time_statistics_bars != null">
                time_statistics_bars = #{time_statistics_bars},
            </if>
            <if test="time_statistics_time != null">
                time_statistics_time = #{time_statistics_time},
            </if>
        </set>
        WHERE time_statistics_id = #{time_statistics_id}
    </update>
    <!--根据id删除客户信息（物理删除）-->
    <delete id="delById" parameterType="java.lang.Integer">DELETE FROM time_statistics WHERE time_statistics_id = #{0}</delete>
</mapper>