<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue测试页面</title>
    <link rel="stylesheet" href="/static/jqueryeasyui1.6.11/themes/default/easyui.css"/>
    <link rel="stylesheet" href="/static/jqueryeasyui1.6.11/themes/icon.css"/>
    <link rel="stylesheet" href="/static/jqueryeasyui1.6.11/demo/demo.css"/>
    <script type="text/javascript" src="/static/jqueryeasyui1.6.11/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jqueryeasyui1.6.11/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jqueryeasyui1.6.11/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/login23.js"></script>
</head>
<body>
<div id="dd">
    <div class="easyui-panel" style="width: 100%;max-width: 400px;padding: 30px 60px; border: 0px;">
        <form id="myform" action="/login" method="post">
            <div style="margin-bottom: 20px;">
                <input class="easyui-textbox" name="username" style="width: 100%" data-options="label:'用户名',required:true">
            </div>
            <div style="margin-bottom: 20px;">
                <input class="easyui-textbox" name="password" type="password" style="width: 100%" data-options="label:'密码',required:true">
            </div>
            <div style="margin-bottom: 20px;">
                <input class="easyui-textbox" name="yanzhengma" type="password" style="width: 60%" data-options="label:'验证码',required:true"><img src="/defaultKaptcha">
            </div>
        </form>
    </div>
</div>

</body>
</html>