<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujixing.dao.CollectMapper">
    <!--添加方法-->
    <insert id="add">
        INSERT INTO
        shop_collect(user_id,shop_goods_id,shop_collect_create_time)
        VALUES
        (#{user_id},#{shop_goods_id},#{shop_collect_create_time})
    </insert>
    <!--根据id查询一条信息-->
    <select id="getById" resultType="com.zhoujixing.entity.CollectModel">
		SELECT * FROM shop_collect WHERE shop_collect_id = #{0}
	</select>
    <!--查询所有信息-->
    <select id="selA" parameterType="map" resultType="com.zhoujixing.entity.CollectModel">
        SELECT * FROM shop_collect
        <where>
            <if test="user_id != null">
                AND user_id=#{user_id}
            </if>
            <if test="shop_goods_id != null">
                AND shop_goods_id=#{shop_goods_id}
            </if>
            <if test="shop_collect_create_time != null and shop_collect_create_time != ''">
                AND Date(shop_collect_create_time) =  Date(#{shop_collect_create_time})
            </if>
        </where>
    </select>
    <!--根据id修改某条信息-->
    <update id="update">
        UPDATE shop_collect
        <set>
            <if test="user_id != null">
                user_id = #{user_id},
            </if>
            <if test="shop_goods_id != null">
                shop_goods_id = #{shop_goods_id},
            </if>
            <if test="shop_collect_create_time != null">
                shop_collect_create_time = #{shop_collect_create_time}
            </if>
        </set>
        WHERE shop_collect_id = #{shop_collect_id}
    </update>
    <!--根据id删除客户信息（物理删除）-->
    <delete id="delById" parameterType="java.lang.Integer">DELETE FROM shop_collect WHERE shop_collect_id = #{0}</delete>

</mapper>

