<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujixing.dao.OrderMapper">
    <!--添加方法-->
    <insert id="add">
        INSERT INTO
        shop_order(user_id,shop_goods_id,shop_order_goods_num,shop_order_total_money,shop_order_state,shop_order_create_time)
        VALUES
        (#{user_id},#{shop_goods_id},#{shop_order_goods_num},#{shop_order_total_money},#{shop_order_state},#{shop_order_create_time})
    </insert>
    <!--根据id查询一条信息-->
    <select id="getById" resultType="com.zhoujixing.entity.OrderModel">
		SELECT * FROM shop_order WHERE shop_order_id = #{0}
	</select>
    <!--查询所有信息-->
    <select id="selA" parameterType="map" resultType="com.zhoujixing.entity.OrderModel">
        SELECT * FROM shop_order
        <where>
            <if test="user_id != null">
                AND user_id=#{user_id}
            </if>
            <if test="shop_goods_id != null">
                AND shop_goods_id=#{shop_goods_id}
            </if>
            <if test="shop_order_goods_num != null">
                AND shop_order_goods_num=#{shop_order_goods_num}
            </if>
            <if test="shop_order_total_money != null">
                AND shop_order_total_money=#{shop_order_total_money}
            </if>
            <if test="shop_order_state != null and shop_order_state != ''">
                AND shop_order_state like CONCAT('%', #{shop_order_state} ,'%')
            </if>
            <if test="shop_order_create_time != null and shop_order_create_time != ''">
                AND Date(shop_order_create_time) =  Date(#{shop_order_create_time})
            </if>
        </where>
    </select>
    <!--根据id修改某条信息-->
    <update id="update">
        UPDATE shop_order
        <set>
            <if test="user_id != null">
                user_id = #{user_id},
            </if>
            <if test="shop_goods_id != null">
                shop_goods_id = #{shop_goods_id},
            </if>
            <if test="shop_order_goods_num != null">
                shop_order_goods_num = #{shop_order_goods_num},
            </if>
            <if test="shop_order_total_money != null">
                shop_order_total_money = #{shop_order_total_money},
            </if>
            <if test="shop_order_state != null">
                shop_order_state = #{shop_order_state},
            </if>
            <if test="shop_order_create_time != null">
                shop_order_create_time = #{shop_order_create_time}
            </if>
        </set>
        WHERE shop_order_id = #{shop_order_id}
    </update>
    <!--根据id删除客户信息（物理删除）-->
    <delete id="delById" parameterType="java.lang.Integer">DELETE FROM shop_order WHERE shop_order_id = #{0}</delete>

</mapper>

