<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujixing.mapper.GoodMapper">
    <!--添加方法-->
    <insert id="add">
        INSERT INTO
        good(news_id,user_id,good_create_time)
        VALUES
        (#{news_id},#{user_id},#{good_create_time})
    </insert>
    <!--根据id查询一条信息-->
    <select id="getById" resultType="com.zhoujixing.entity.GoodEntity">
		SELECT * FROM good WHERE good_id = #{0}
	</select>
    <!--查询所有信息-->
    <select id="selA" parameterType="map" resultType="com.zhoujixing.entity.GoodEntity">
        SELECT news_id,user_id,good_create_time FROM good
        <where>
            <if test="news_id != null">
                AND news_id=#{news_id}
            </if>
            <if test="user_id != null">
                AND user_id=#{user_id}
            </if>
            <if test="good_create_time != null and good_create_time != ''">
                AND Date(good_create_time) =  Date(#{good_create_time})
            </if>
        </where>
    </select>
    <!--根据id删除客户信息（物理删除）-->
    <delete id="delById" parameterType="java.lang.Integer">DELETE FROM good WHERE good_id = #{0}</delete>

</mapper>

